<%= form_for(@automated_test) do |f| %>
  <% if @automated_test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@automated_test.errors.count, "error") %> prohibited this automated_test from being saved:</h2>

      <ul>
      <% @automated_test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :component_id %><br>
    <%= f.text_field :component_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
